@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-50;
  }
}

/* MapLibre GL custom styles */
@layer utilities {
  .maplibregl-map {
    font-family: inherit;
  }

  .maplibregl-ctrl-attrib {
    font-size: 11px;
  }
}
